$bg:rgb(0,0,0);

::-webkit-scrollbar{
    display: none;
}
.banner{
    height: 400px;
    background-color:$bg ;
}
.row{
    background-color: $bg;
    padding: 1rem;
>h2{
    font-weight: 400;
    margin-bottom: 15px;
}


    >div{
        display: flex;
        overflow-x: auto;
        justify-content: flex-start;
    }
}
.card{
    width: 200px;
    // height: 200px;
    margin: 0.3rem;
    cursor: pointer;
transition: transform 0.5s;
    &:hover{
        transform: translateY(-10px) scale(1.1);
    }


    .image-container{
     
    }
}